body
{
	background-color: #2E2E2E;
}

form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px;
	color: white;
	font-family: 'Electrolize', sans-serif;
	font-size: 16px;
}

.error
{
	color: red;
}

h2
{
	margin-bottom: 50px;
	text-align: center;
	border: solid white 2px;
	padding: 10px;
	border-radius: 4px;
}


input, select
{
	color: #2E2E2E;
}

textarea
{
	min-width: 300px;
	height: 200px;
	color: #2E2E2E;
}

.btn
{
	background-color: #337ab7;
	color: whitesmoke;
	font-size: 20px;
}

.btn:hover
{
	background-color: #2e6da4;
	color: whitesmoke;
}

@media only screen and (min-width: 600px)
{
	input, select
	{
		color: #2E2E2E;
		width: 500px;
	}

	textarea
	{
		min-width: 500px;
	}
}