/*         ------------------HEADER---------------          */

/*         Modifier Logo          */



#logo img
{
    max-width: 100%;
    height: auto;
}


/*         Modifier barre de NavigationS          */

.navbar-nav 
{
    width: 100%;
    text-align: center;
}
    
.navbar-nav li
{
    float: none;
    display: inline-block;
    font-family: 'Cinzel', serif;
    font-size: 23px;
}

.navbar
{
    margin-bottom: 0px;
    background: #D8D8D8;
    border: 0px;
    border-radius: 0px;
}



/*         ------------------HEADER end---------------          */

.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }