/*         Logo          */


body {
	background-color: grey;
}

.pic img {
	height: 400px;
	width: 500px:
}

.jumbotron {
	  background-color: #010a00;
	  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
	  font-size: 1rem;

	}

	.neon {
	  color: #fff;
	  text-shadow:
	    0 0 5px #fff,
	    0 0 10px #fff,
	    0 0 20px #fff,
	    0 0 40px #0ff,
	    0 0 80px #0ff,
	    0 0 90px #0ff,
	    0 0 100px #0ff,
	    0 0 150px #0ff;
			font-weight: 400;
  text-align: center;
  text-transform: uppercase;
	  font-family: "Kool Beans";
	}


#logo
{
	background-color: black;
	text-align: center;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}

footer
{
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}

.link_foot_one a
{
	margin: 20px;
}

.link_foot_two a
{
	font-size: 12px;
}

#back_top
{

}
